<footer>
    <div class="img">
        <img src="../../../assets/logo.png" alt="No Image" width="200px" height="30px">
        <div class="flex">
            <ul>
                <li><a href="#team">TEAM</a></li>
                <li><a href="#competition">COMPETITION</a></li>
                <li><a href="#about-us">ABOUT US</a></li>
                <li><a href="#contact">CONTACT</a></li> 
            </ul>
            <ul>
                <li><a href="#">FAQS</a></li>
                <li><a href="#">POLITICY PRIVACY</a></li>
                <li><a href="#">COOKIES</a></li>
            </ul>
        </div>
    </div>
    <div class="row"></div>
    <div class="floor">
        <div>
            <div class="cy">
                <a href="#">COPYRIGHT</a>
                <p class="gic">|</p>
                <a href="#">YOURNAME</a>
            </div>
        </div>
        <div class="vid">
            <div class="vidid">
                <a href="https://www.instagram.com/"><img src="../../../assets/Instagram.png" alt="No Image"></a>
                <p>@YOURNAME</p>
            </div>
            <div class="vidid">
                <a href="https://www.facebook.com/"><img src="../../../assets/Facebook.png" alt="No Image"></a>
                <p>@YOURNAME</p>
            </div>
            <div class="vidid">
                <a href="https://www.twitter.com/"><img src="../../../assets/Twitter.png" alt="No Image"></a>
                <p>@YOURNAME</p>
            </div>
        </div>
    </div>
</footer>