nav {
    background-color: #0101a3;
}
.navf {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    border-bottom: 15px solid #e92bde;
    align-items: center;
}
.navt {
    font-size: 24px;
    color: #fefefe;
    font-family: "Bebas Neue";
    margin: 0 15px;
}
.navff {
    display: flex;
}
a {
    text-decoration: none;
    color: #fefefe;
    position: relative;
}
a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #e92bde;
    left: 0;
    bottom: -7px;
    transform: scale(0,1);
    transition: 0.5s;
}
a:hover::before {
    transform: scale(1,1);
}