<nav>
    <div class="navf">
        <div>
            <div>
                <img src="../../../assets/navl.png" alt="No Image" width="100%" height="100%">
            </div>
        </div>
        <div class="navff">
            <div class="navt"><a href="#team">TEAM</a></div>
            <div class="navt"><a href="#competition">COMPETITION</a></div>
            <div class="navt"><a href="#about-us">ABOUT US</a></div>
            <div class="navt"><a href="#contact">CONTACT</a></div>
        </div>
    </div>
</nav>
