<nav>
    <div class="navf">
        <div>
            <div>
                <img src="../../../assets/navl.png" alt="No Image" width="100%" height="100%">
            </div>
        </div>
        <div class="navff">
            <div class="navt"><a href="#team">TEAM</a></div>
            <div class="navt"><a href="#competition">COMPETITION</a></div>
            <div class="navt"><a href="#about-us">ABOUT US</a></div>
            <div class="navt"><a href="#contact">CONTACT</a></div>
        </div>
        <div class="mb">
            <button (click)="sis()">
                <i class="fa fa-bars" aria-hidden="true"></i>
            </button>
        </div>
        <div class="menu">
            <div class="close">
                <button (click)="sis()">
                    <i class="fa fa-times culik" aria-hidden="true"></i>
                </button>
            </div>
            <div class="navt" style="margin-top: 100px;"><a href="#team">TEAM</a></div>
            <div class="navt"><a href="#competition">COMPETITION</a></div>
            <div class="navt"><a href="#about-us">ABOUT US</a></div>
            <div class="navt"><a href="#contact">CONTACT</a></div>
        </div>
    </div>
</nav>
