.group1 {
    background: linear-gradient(#0101a3, #000047);
    display: flex;
}
h1 span {
    width: 975px;
    font-size: 105px;
    line-height: 107px;
    color: #fffefe;
    font-weight: 400;
    font-family: "Bebas Neue";    
    text-align: left;
    margin-top: 40px;
    margin-bottom: 20px;
    z-index: 1;
    position: relative;
}
h1 span:after {
    content: '';
        position: absolute;
        width: 105%;
        height: 35px;
        background-color: #e92bde;
        bottom: 20px;
        left: 0;
        z-index: -1;
}
.g1p {
    font-size: 38px;
    color: #e92bde;
    font-weight: 400;
    font-family: "Bebas Neue";   
    text-align: left;
}
.g1p1 {
    font-size: 34px;
    color: #fefefe;
    font-weight: 400;
    font-family: "Bebas Neue";
    text-align: left;
}
.container {
    margin: 0 auto;
    width: 84%;
}
.g1f {
    display: flex;
    margin-top: 100px;
    margin-bottom: 100px;
}
.g1d2 {
    width: 688px;
    height: 675px;
}
.group1 button {
    font-size: 25px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Bebas Neue";
    background-color: #c92fd9;
    border: none;
    outline: none;
    padding: 9px 60px;
    cursor: pointer;
    background: linear-gradient(to right, #b226c2 50%, #e92bde 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .5s ease-out;
}
.group1 button:hover {
    background-position: left bottom;
}
.g1d {
    width: 45%;
}
.group2 {
    background: linear-gradient(#0101a3, #000047);
}
.group2 h2 {
    margin: 0;
    padding: 90px 0;
    font-size: 63px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Bebas Neue";
    text-align: center;
}
.group2 h4 {
    font-size: 38px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Bebas Neue";
    text-align: center;
}
.group2 p {
    font-size: 25px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Bebas Neue";
    text-align: center;
}
.g2f {
    display: flex;
    justify-content: space-around;
    padding-bottom: 90px;
    flex-wrap: wrap;
}
.group3 {
    background-color: #0101a3;
}
.group3 h2 {
    margin: 0;
    padding: 90px 0 20px;
    font-size: 63px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Bebas Neue";
    text-align: center;
}
.group3 p {
    font-size: 29px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Bebas Neue";
    text-align: center;    
    margin: 0;
    padding-bottom: 40px;
}
.group3 button {
    font-size: 25px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Bebas Neue";
    background-color: #c92fd9;
    border: none;
    outline: none;
    padding: 9px 60px;
    cursor: pointer;
    background: linear-gradient(to right, #b226c2 50%, #e92bde 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .5s ease-out;
}
.group3 button:hover {
    background-position: left bottom;
}
.g3d {
    text-align: center;
    padding: 60px 0;
}
.group4 {
    background-color: #0101a3;
}
.g4f {
    display: flex;
    padding-top: 100px;
    padding-bottom: 100px;
}
.group4 h2 {
    font-size: 63px;
    line-height: 63px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Bebas Neue";
    margin-top: 75px;
    margin-bottom: 0;
}
.group4 p {
    font-size: 38px;
    line-height: 42px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Bebas Neue";
}
.group4 button {
    font-size: 22px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Bebas Neue";
    background-color: #c92fd9;
    border: none;
    outline: none;
    padding: 5px 40px;
    cursor: pointer;
    background: linear-gradient(to right, #b226c2 50%, #e92bde 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .5s ease-out;
}
.group4 button:hover {
    background-position: left bottom;
}
.g4d1 {
    width: 50%;
}
.g4d2 {
    text-align: right;
    width: 50%;
}
.g4d3 {
    text-align: left;
    width: 50%;
}
.g5f {
    display: flex;
    padding-top: 220px;
    padding-bottom: 120px;
}
.group6 {
    background-color: #000086;
}
.group6 h2 {
    margin: 0;
    padding: 60px 0 70px;
    font-size: 63px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Bebas Neue";
    text-align: center;
}
.group6 h5 {
    font-size: 33px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Bebas Neue";
    margin: 25px 0 0;
}
.group6 p {
    font-size: 17px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Bebas Neue";
    margin-top: 10px;
}
.group6 button {
    font-size: 20px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Bebas Neue";
    background-color: #c92fd9;
    border: none;
    outline: none;
    padding: 4px 30px;
    cursor: pointer;
    background: linear-gradient(to right, #b226c2 50%, #e92bde 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .5s ease-out;
}
.group6 button:hover {
    background-position: left bottom;
}
.g6f {
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
    flex-wrap: wrap;
}
.g6d {
    width: 32%;
}
.group7 {
    background-color: #0101a3;
}
.g7f {
    display: flex;
    padding: 150px 0 100px;
}
.g7d1 {
    text-align: left;
    width: 45%;
    margin-right: 5%;
}
.g7d2 {
    width: 50%;
}
.group7 h4 {
    font-size: 58px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Bebas Neue";
    margin: 150px 0 0;
}
.g7p {
    font-size: 33px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Bebas Neue";
}
.group7 button {
    font-size: 25px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Bebas Neue";
    background-color: #c92fd9;
    border: none;
    outline: none;
    padding: 5px 50px;
    cursor: pointer;
    background: linear-gradient(to right, #b226c2 50%, #e92bde 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .5s ease-out;
}
.group7 button:hover {
    background-position: left bottom;
}
form {
    background-color: #e92bde;
    padding: 40px 50px;
}
form h6 {
    font-size: 33px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Bebas Neue";
    margin: 0;
}
form div {
    display: flex;
    justify-content: space-between;
}
.input-1 {
    background-color: #e92bde;
    border: 2px solid white;
    padding: 7px;
    width: 47%;
    margin-top: 35px;
}
input {
    outline: none;
    color: white;
}
input::placeholder {
    color: #f490ee;
}
textarea {
    outline: none;
    color: white;
}
.input-2 {
    background-color: #e92bde;
    border: 2px solid white;
    padding: 7px;
    width: 100%;
    margin: 35px 0;
}
.input-3 {
    background-color: #e92bde;
    border: 2px solid white;
    width: 100%;
    height: 225px;
}
.g7ff {
    display: flex;
    align-items: center;
    padding-top: 40px;
}
form p {
    font-size: 13px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Bebas Neue";
}
.checkbox {
    width: 50px;
    height: 50px;
    margin: 0;
    margin-right: 25px;
}
.group8 {
    background-color: #0101a3;
}
.group8 h2 {
    margin: 0;
    padding: 60px 0 40px;
    font-size: 63px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Bebas Neue";
    text-align: center;   
}
.group8 p {
    font-size: 33px;
    color: #fefefe;
    font-weight: 400;
    font-family: "Bebas Neue";
    text-align: center;
    margin: 0;
    padding: 50px 0 60px;
}
.beautiful-hover {
    width: 100%;
}
@media screen and (max-width: 1307px) {
    .g1d2 {
        width: 620px;
        height: 605px;
    }
    h1 span {
        font-size: 90px;
    }
    .g1p {
        font-size: 34px;
    }
    .g1p1 {
        font-size: 30px;
    }
    .g5f {
        padding-top: 150px;
    }
    h1 span:after {
        bottom: 10px;
    } 
}
@media screen and (max-width: 1200px) {
    .g1d2 {
        width: 580px;
        height: 560px;
    }
    h1 span {
        font-size: 80px;
    }
    .g1p {
        font-size: 30px;
    }
    .g1p1 {
        font-size: 27px;
    }
    .group4 p {
        font-size: 34px;
        line-height: 35px;
    }
    .group4 h2 {
        font-size: 56px;
        line-height: 56px;
    }
    .group7 h4 {
        font-size: 50px;
    }
    .g7p {
        font-size: 29px;
    }
    .g5f {
        padding-top: 125px;
    }
    h1 span:after {
        bottom: 10px;
        height: 30px;
    } 
}
@media screen and (max-width: 1100px) {
    .g1d2 {
        width: 550px;
        height: 530px;
    }
    h1 span {
        font-size: 70px;
    }
    .g1p {
        font-size: 25px;
    }
    .g1p1 {
        font-size: 23px;
    }
    .g5f {
        padding-top: 100px;
    }
    .group4 h2 {
        font-size: 50px;
        margin-top: 30px;
    }
    h1 span:after {
        bottom: 8px;
    } 
}
@media screen and (max-width: 1024px) {
    .g6d {
        width: 80%;
        margin: auto;
    }
    .group6 button {
        margin-bottom: 50px;
    }
    .group6 h5 {
        font-size: 35px;
    }
    .group6 p {
        font-size: 25px;
    }
    .group4 h2 {
        font-size: 50px;
        margin-top: 30px;
    }
    .group4 p {
        font-size: 30px;
    }
    .g5f {
        padding-top: 80px;
    }
    .input-3 {
        height: 180px;
    }
    .g1d2 {
        width: 450px;
        height: 430px;
        margin-top: 60px;
    }
    .group7 h4 {
        font-size: 44px;
        margin-top: 100px;
    }
}
@media screen and (max-width: 888px) {
    h1 span {
        font-size: 90px;
    }
    .g1p {
        font-size: 35px;
    }
    .g1p1 {
        font-size: 30px;
    }
    h1 span:after {
            height: 35px;
            background-color: #e92bde;
            bottom: 10px;
            left: 0;
            z-index: -1;
    } 
    .g1d2 {
        display: none;
    }
    .g1d {
        width: 100%;
        text-align: center;
    }
    .g1p, .g1p1 {
        text-align: center;
    }
    .group7 h4 {
        font-size: 38px;
        margin-top: 50px;
    }
    .g7p {
        font-size: 24px;
    }
    form {
        padding: 25px 35px;
    }
    form h6 {
        font-size: 29px;
    }
    .input-1 {
        margin-top: 20px;
    }
    .g7ff {
        padding-top: 10px;
    }
    .group4 h2 {
        font-size: 35px;
        margin-top: 0;
    }
    .group4 p {
        font-size: 22px;
    }
    .g7f {
        padding-bottom: 70px;
    }
}
@media screen and (max-width: 768px) {
    .group3 p {
        margin: 0 25px;
    }
    .g4f {
        padding: 0;
        flex-direction: column;
    }
    .g4d1 {
        display: none;
    }
    .g4d2 {
        width: 100%;
        text-align: center;
    }
    .g5f {
        padding: 30px 0 50px;
    }
    .g4d3 {
        width: 100%;
        text-align: center;
    }
    .g6f {
        padding-bottom: 0;
    }
    .group6 h2 {
        padding: 40px 0;
        font-size: 45px;
    }
    .g7f {
        flex-direction: column;
        padding-top: 0;
    }
    .g7d1 {
        width: 100%;
        margin: 0;
        text-align: center;
        margin-bottom: 30px;
    }
    .g7d2 {
        width: 80%;
        margin: auto;
    }
    .group8 p {
        font-size: 22px;
        margin: 0 25px;
    }
    .group2 h2 {
        padding: 50px 0;
        font-size: 60px;
    }
    .group2 h4 {
        font-size: 35px;
        margin: 30px 0;
    }
    .group2 p {
        font-size: 22px;
    }
    .g3d {
        padding: 45px 0;
    }
    .group8 h2 {
        font-size: 50px;
        padding: 50px 0 30px;
    }
    .g7f {
        padding-bottom: 50px;
    }
    .checkbox {
        width: 65px;
        height: 65px;
    }
}
@media screen and (max-width: 567px) {
    .g1f {
        margin-top: 40px;
        margin-bottom: 65px;
    }
    h1 span {
        font-size: 75px;
        line-height: 90px;
    }
    .g1p {
        font-size: 31px;
    }
    .g1p1 {
        font-size: 23px;
    }
    h1 span:after {
            height: 30px;
            background-color: #e92bde;
            bottom: 10px;
            left: 0;
            z-index: -1;
    } 
    .group2 h2 {
        padding: 30px 0;
        font-size: 55px;
    }
    .group3 h2 {
        padding: 40px 0 20px;
        font-size: 55px;
    }
    .group2 h4 {
        font-size: 30px;
        margin: 20px 0;
    }
    .group2 p {
        font-size: 19px;
    }
    .g3d {
        padding: 40px 0;
    }
    .group6 h2 {
        padding: 25px 0;
        font-size: 37px;
    }
    .group6 h5 {
        font-size: 30px;
    }
    .group8 h2 {
        font-size: 44px;
        padding: 40px 0 20px;
    }
    .g7f {
        padding-bottom: 30px;
    }
    button, .group1 button, .group3 button,.group7 button {
        padding: 6px 40px;
    }
    .checkbox {
        width: 90px;
        height: 90px;
    }
}
@media screen and (max-width: 425px) {
    h1 span {
        font-size: 60px;
        line-height: 70px;
    }
    .g1p {
        font-size: 28px;
    }
    .g1p1 {
        font-size: 23px;
    }
    h1 span:after {
            height: 25px;
            background-color: #e92bde;
            bottom: 8px;
            left: 0;
            z-index: -1;
    } 
    .group2 h2 {
        padding: 40px 0;
        font-size: 45px;
    }
    .group3 h2 {
        padding: 40px 0 15px;
        font-size: 45px;
    }
    .g3d {
        padding: 35px 0;
    }
    .group6 h5 {
        font-size: 27px;
    }
    .g7f {
        padding-bottom: 0;
    }
    button, .group1 button, .group3 button,.group7 button {
        padding: 4px 25px;
    }
    .checkbox {
        width: 110px;
        height: 110px;
    }
    .g1f {
        margin-bottom: 50px;
    }
}