<app-header></app-header>


<section class="group1">
    <div class="container">
        <div class="g1f">
            <div class="g1d">
                <h1>
                    <span>DISCOVER </span>
                    <span>THE </span><br>
                    <span>NEW </span>
                    <span>SPORTS</span><br>
                    <span>ONLINE</span>
                </h1>
                <p class="g1p">13 - 14 JUNE ONLINE EVENT</p>
                <p class="g1p1">Lorem ipsum dolor sit amet,<br> conse ctetur adipiscing elit, sed</p>
                <button class="g1b">READ MORE</button>
            </div>
            <div class="g1d2">
                <img src="../assets/headerimg.png" alt="No Image" width="100%" height="100%">
            </div>
        </div>
    </div>
</section>
<section class="group2" id="team">
    <h2>OUR TEAM</h2>
    <div class="container">
        <div class="g2f">
            <div class="g2d">
                <img src="../assets/ourteam1.png" alt="No Image">
                <h4>Lorem ipsum dolor <br>
                    sit amet, </h4>
                <p>Lorem ipsum dolor sit<br> amet, consectetur<br> adipisicing elit, sed do </p>
            </div>
            <div class="g2d">
                <img src="../assets/ourteam2.png" alt="No Image">
                <h4>Lorem ipsum<br> dolor</h4>
                <p>Lorem ipsum dolor sit<br> amet, consectetur<br> adipisicing elit, sed do </p>
            </div>
            <div class="g2d">
                <img src="../assets/ourteam3.png" alt="No Image">
                <h4>Lorem ipsum<br> dolor</h4>
                <p>Lorem ipsum dolor sit<br> amet, consectetur<br> adipisicing elit, sed do </p>
            </div>
        </div>
    </div>
</section>
<section class="group3" id="about-us">
    <h2>ABOUT US</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod<br> tempor incididunt ut labore et
        dolore magna aliqua. Ut enim ad minim </p>
    <div class="container">
        <div class="beautiful-hover">
            <img src="../assets/aboutus.png" alt="No Image" width="100%" height="100%">
        </div>
    </div>
    <div class="g3d">
        <button>READ MORE</button>
    </div>
</section>
<section class="group4" id="competition">
    <div class="container">
        <div class="g4f">
            <div class="g4d1">
                <img src="../assets/compete.png" alt="No Image" width="100%">
            </div>
            <div class="g4d2">
                <h2>COMPETE WITH US</h2>
                <p>Lorem ipsum dolor sit amet,<br>
                    consectetur adipisicing elit, sed do<br>
                    eiusmod tempor incididunt ut<br>
                    labore et dolore magna aliqua. Ut<br>
                    enim ad minim veniam, quis nostrud</p>
                <button>CONTACT US</button>
            </div>
        </div>
    </div>
</section>
<section class="group4">
    <div class="container">
        <div class="g5f">
            <div class="g4d3">
                <h2>OUR<br> TRAINING</h2>
                <p>Lorem ipsum dolor sit amet,<br>
                    consectetur adipisicing elit, sed do<br>
                    eiusmod tempor incididunt ut<br>
                    labore et dolore magna aliqua. Ut<br>
                    enim ad minim veniam, quis nostrud</p>
                <button>READ MORE</button>
            </div>
            <div class="g4d1">
                <img src="../assets/ourtrain.png" alt="No Image" width="100%">
            </div>
        </div>
    </div>
</section>
<section class="group6">
    <h2>BLOG</h2>
    <div class="container">
        <div class="g6f">
            <div class="g6d">
                <div class="chap">
                    <img src="../assets/blog1.png" alt="No Image" width="100%">
                </div>
                <h5>Lorem ipsum dolor sit amet, consectetur adipisicing</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut</p>
                <button>READ MORE</button>
            </div>
            <div class="g6d">
                <div>
                    <img src="../assets/blog2.png" alt="No Image" width="100%" height="100%">
                </div>
                <h5>Lorem ipsum dolor sit amet, consectetur adipisicing</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut</p>
                <button>READ MORE</button>
            </div>
            <div class="g6d">
                <div>
                    <img src="../assets/blog3.png" alt="No Image" width="100%">
                </div>
                <h5>Lorem ipsum dolor sit amet, consectetur adipisicing</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut</p>
                <button>READ MORE</button>
            </div>
        </div>
    </div>
</section>
<section class="group7">
    <div class="container">
        <div class="g7f">
            <div class="g7d1">
                <h4>NEWSLETTER</h4>
                <p class="g7p">Lorem ipsum dolor sit amet,<br>
                    consectetur adipisicing elit, sed do<br>
                    eiusmod tempor incididunt ut labore et<br>
                    dolore magna aliqua. Ut enim ad minim
                </p>
                <button>SEND</button>
            </div>
            <div class="g7d2">
                <form>
                    <h6>CONTACT US</h6>
                    <div>
                        <input type="text" placeholder="NAME" class="input-1">
                        <input type="text" placeholder="SURNAME" class="input-1">
                    </div>
                    <input type="email" placeholder="E-MAIL" class="input-2">
                    <textarea type="text" class="input-3"></textarea>
                    <div class="g7ff">
                        <input type="checkbox" class="checkbox">
                        <p>lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<section class="group8" id="contact">
    <h2>CONTACT US</h2>
    <div class="container">
        <img src="../assets/location.png" alt="No Image" width="100%" height="100%">
    </div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing<br> elit, sed do eiusmod tempor incididunt ut labore et </p>
</section>


<app-footer></app-footer>